html, body {
  height: 100%;
  max-width: 1280px;
}

html, body, header, footer, div, ul {
  display: block;
  margin: 0;
  padding: 0;
}

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  font-size: 1em;
  line-height: 1.4;
  padding: 1.5em;
}

ul {
  list-style: none;
}

pre {
  white-space: pre-wrap;
}

a {
  text-decoration: none;
  color: inherit;
}

#page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#page div,
#page div img {
  width: 100%;
}

#page div.box-for-two {
  display: flex;
}

#page div.box-for-two div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

header pre a {
  font-size: 3em;
}

footer {
  display: flex;
  justify-content: space-between;
}
