pre Trey Moody was born in San Antonio, Texas. His first book, Thought That Nature (Sarabande Books, 2014), was selected by Cole Swensen for the Kathryn A. Morton Prize in Poetry. His writing has received support from the Academy of American Poets, Slope Editions, and the University of Nebraska-Lincoln, and more recent work has appeared in The Antioch Review, The Cincinnati Review, Gulf Coast, Pleiades, and West Branch, among other journals. He teaches in the MFA program at Creighton University and lives in Omaha, Nebraska.
pre contact: #{contact}
