#publications
  pre Writings Online:
  ul
    for publication in public.publications._data
      li
        pre
          a(href='#{publication.url}' target="_blank") #{publication.title} // #{publication.publisher}
