html, body {
  height: 100%;
}

html, body, header, footer, div, ul {
  display: block;
  margin: 0;
  padding: 0;
}

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  width: 90%;
  max-width: 1280px;
  font-size: 1.1em;
  line-height: 1.5;
  padding: 2em;
  margin: 0 auto;
}

ul {
  list-style: none;
}

ul li pre {
  margin: .5em 0;
}

pre {
  white-space: pre-wrap;
}

a {
  text-decoration: none;
  color: inherit;
}

#page {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#page div,
#page div img {
  width: 100%;
}

#page div.box-for-two {
  display: flex;
}

#page div.box-for-two div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

header pre {
  transform: rotate(90deg);
  transform-origin: left top 0;
  margin: 0;
}

header pre a {
  font-size: 3em;
}

#photo {
  /*margin-right: 3em;*/
}

#bio {
  margin-right: -3em;
  z-index: 1;
}
#bio pre:first-child {
  padding-top: 1em;
}

#bio pre:first-child,
#publications {
  background-color: rgb(255, 255, 255);
}

#publications {
  margin-left: 4em;
  padding-left: 1em;
  margin-top: -1em;
  z-index: 1;
}

#events {
  align-self: flex-start;
  margin-left: -1em;
  margin-right: -4em;
  padding: 3em 1em;
  background-color: rgba(128, 255, 0, 0.5);
}

#events ul,
#events pre {
  visibility: hidden;
}

#events > pre > a {
  padding-right: 1em;
}

#events a img.logo,
footer pre a img.logo {
  width: 2em;
  height: 2em;
  color: black;
}
.instagram {
  /*opacity: .2;*/
}
.twitter {
  background-color: black;
}

#events:hover ul,
#events:hover pre {
  visibility: visible;
}

#page .book-box {
  width: 80%;
}

#book {
  margin-top: -2em;
}

footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

footer pre {
  padding: 1em 2em 1em 0;
}

@media screen and (max-width: 800px) {
  body {
    width: 100%;
    font-size: .9em;
    padding: 1em;
  }
  header pre {
    transform: rotate(0deg);
    transform-origin: left top 0;
  }
  header pre a {
    font-size: 2.5em;
  }
  #page div.box-for-two {
    flex-direction: column;
  }
  #events {
    align-self: flex-end;
    margin: 1em 0 0;
    padding: 0 2em .5em;
    background-color: inherit;
  }
  #events li:first-child,
  #events pre:last-child {
    background-color: rgba(128, 255, 0, 0.5);
  }
  #events ul,
  #events pre {
    visibility: visible;
  }
  #publications {
    margin-left: 0;
    padding-left: 2em;
    margin-top: 0;
  }
  #page .book-box {
    width: 100%;
  }
  #book {
    margin-top: 0;
  }
}
