doctype html
html(lang='en' xmlns:og='http://ogp.me/ns#' xmlns:fb='https://www.facebook.com/2008/fbml')

  head
    meta(charset='utf-8')
    //- Schema.org
    script(type='application/ld+json')
      include ./_schema.json
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title #{title}
    link(rel='canonical', href='https://treymoody.org/')
    meta(name='description', content='#{description}')
    != partial('_favicon')
    link(rel='manifest', href='manifest.json')
    //- Open Graph data
    meta(property='og:url', content='https://treymoody.org/')
    meta(property='og:type', content='website')
    meta(property='og:title', content='Trey Moody')
    meta(property='og:image', content='https://treymoody.org/images/trey-moody-photo.jpg')
    meta(property='og:site_name', content='Trey Moody')
    meta(property='og:description', content='#{description}')
    //- Twitter Card data
    meta(name='twitter:card', content='summary')
    meta(name='twitter:title', content='Trey Moody')
    meta(name='twitter:url', content='https://treymoody.org/')
    meta(name='twitter:image', content='https://treymoody.org/images/trey-moody-photo.jpg')
    //- Stylesheets
    link(rel='stylesheet', href='main.css')
    //- Google Tag Manager
    != partial('_gtag')

  body
    //- Google Tag Manager (noscript)
    != partial('_gtag2')
    #page
      template
        != yield
        != partial('_footer')
    //- Google Analytics
    != partial('_analytics')
    //- lazy load image
