doctype html
html(lang='en')

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title #{title}
    link(rel='canonical', href='https://treymoody.org/')
    meta(name='description', content='Trey Moody is the author of the poetry collection Thought That Nature. Read his poems online and stay tuned for upcoming readings and events.')
    meta(property='og:title', content='Trey Moody - poetry, publications, events')
    meta(property='og:url', content='https://treymoody.org/')
    meta(property='og:type', content='website')
    meta(property='og:description', content='Official website of the poet Trey Moody, author of the book Thought That Nature (Sarabande Books, 2014)')
    meta(property='og:image', content='https://treymoody.org/images/trey-moody-photo.jpg')
    != partial('_favicon')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:title', content='Trey Moody - poetry, publications, events')
    meta(name='twitter:url', content='https://treymoody.org/')
    meta(name='twitter:image', content='https://treymoody.org/images/trey-moody-photo.jpg')
    meta(itemprop='name', content='Trey Moody')
    meta(itemprop='description', content='Trey Moody - poetry, publications, events')
    meta(itemprop='image', content='https://treymoody.org/images/trey-moody-photo.jpg')
    link(rel='stylesheet', href='main.css')
    != partial('_gtag')
  
  body
    #page

      != yield

      != partial('_footer')

    != partial('_gtag')
