#publications
  h2 Writing Online:
  ul
    for publication in public.publications._data
      li
        h3
          a(href='#{publication.url}' target="_blank") #{publication.title} // #{publication.publisher}
