@media screen and (max-width: 800px) {
  body {
    width: 100%;
    font-size: .9em;
    padding: 1em;
  }
  header h1 {
    transform: rotate(0deg);
    transform-origin: left top 0;
    font-size: 2.5em;
  }
  #page div.box-for-two {
    flex-direction: column;
  }
  #page div.box-for-two #events {
    align-self: flex-end;
    margin-top: 1em;
    margin-right: 0;
    padding: .5em 2em;
    background-color: rgba(128, 255, 0, 0.5);
  }
  #events li:first-child,
  #events pre:last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  #events ul,
  #events h2,
  #events pre {
    visibility: visible;
    padding-left: 0;
  }
  #events pre a {
    padding: 1em .5em 0;
  }
  #photo {
    margin-top: 1em;
  }
  #publications {
    margin-top: 0;
    margin-left: 0;
    padding-bottom: .5em;
    padding-left: 2em;
  }
  #page .book-box {
    width: 100%;
  }
  #book {
    margin-top: 0;
  }
}
